In [1]:
import numpy as np
import pandas as pd

In [2]:
heart = pd.read_csv(r"C:\Users\Mahsa\heart data.csv")
heart.head(5)

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0

In [17]:
import seaborn as sns
import matplotlib.pyplot as plt

In [156]:
# outlier: IQR1
q1 = heart["cholestoral "].quantile(0.25)
q3 = heart["cholestoral "].quantile(0.75)
IQR = q3 -q1
l = q1 - 1.5 * IQR
u = q3 + 1.5 * IQR
x = [heart["cholestoral "] > u] or [heart["cholestoral "] < l] # the output is a list
y = (heart["cholestoral "] > u) | (heart["cholestoral "] < l)  # the output is a pandas series
# heart[y] the output is a dataframe
heart.loc[y, "cholestoral "]

28     417.0
85     564.0
96     394.0
183    468.0
210    412.0
215    100.0
227     85.0
324    394.0
421    466.0
460    409.0
483    529.0
488    392.0
491    603.0
545    518.0
553    388.0
560    404.0
573    407.0
585    393.0
595    491.0
Name: cholestoral , dtype: float64

In [146]:
#1
q1 = heart["cholestoral "].quantile(0.25)
q3 = heart["cholestoral "].quantile(0.75)
IQR = q3 -q1
u = heart["cholestoral "] > q3 + 1.5*IQR
l = heart["cholestoral "] < q1 - 1.5*IQR
out_u = heart.loc[u, "cholestoral "]
out_l = heart.loc[l, "cholestoral "]
type(u)

pandas.core.series.Series

In [124]:
type(l)

pandas.core.series.Series

In [152]:
q1 = heart["cholestoral "].quantile(0.25)
q3 = heart["cholestoral "].quantile(0.75)
iqr = q3 - q1
fin = heart[((heart["cholestoral "] < (q1 - 1.5*iqr))|(heart["cholestoral "]> (q3 + 1.5*iqr)))]
fin

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
28,65,0,3,140.0,417.0,1.0,2.0,157.0,0.0,0.8,1.0,1.0,3.0,0
85,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,0
96,62,0,4,140.0,394.0,0.0,2.0,157.0,0.0,1.2,2.0,0.0,3.0,0
183,53,0,2,113.0,468.0,NaN,0.0,127.0,0.0,0.0,NaN,NaN,NaN,0
210,44,1,4,150.0,412.0,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
215,52,1,2,140.0,100.0,0.0,0.0,138.0,1.0,0.0,NaN,NaN,NaN,0
227,56,1,4,120.0,85.0,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,0
324,55,0,2,130.0,394.0,0.0,2.0,150.0,0.0,0.0,NaN,NaN,NaN,0
421,40,1,4,120.0,466.0,NaN,0.0,152.0,1.0,1.0,2.0,NaN,6.0,1
460,56,0,4,134.0,409.0,0.0,2.0,150.0,1.0,1.9,2.0,2.0,7.0,1
483,32,1,4,118.0,529.0,0.0,0.0,130.0,0.0,0.0,NaN,NaN,NaN,1
488,40,0,4,150.0,392.0,0.0,0.0,130.0,0.0,2.0,2.0,NaN,6.0,1
491,54,1,4,130.0,603.0,1.0,0.0,125.0,1.0,1.0,2.0,NaN,NaN,1
545,53,1,3,145.0,518.0,0.0,0.0,130.0,0.0,0.0,NaN,NaN,NaN,1
553,56,1,4,170.0,388.0,0.0,1.0,122.0,1.0,2.0,2.0,NaN,NaN,1
560,52,1,4,140.0,404.0,0.0,0.0,124.0,1.0,2.0,2.0,NaN,NaN,1
573,63,0,4,150.0,407.0,0.0,2.0,154.0,0.0,4.0,2.0,3.0,7.0,1
585,58,0,2,180.0,393.0,0.0,0.0,110.0,1.0,1.0,2.0,NaN,7.0,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1

In [235]:
out = []  # Global list

def out_det(jj):
    if not pd.api.types.is_numeric_dtype(jj):
        return  # Skip non-numeric columns

    q1 = jj.quantile(0.25)
    q3 = jj.quantile(0.75)
    iqr = q3 - q1

    # Find outliers using vectorized filtering
    outliers = jj[(jj > (q3+1.5*iqr)) | (jj < (q1 - 1.5*iqr))]
    
    out.extend(outliers.tolist())  # ✅ Append only the outlier values

# Apply function to all columns
for col in heart.columns:
    out_det(heart[col])

print(out)  # ✅ List of all outliers

[172.0, 178.0, 180.0, 190.0, 180.0, 180.0, 180.0, 180.0, 174.0, 192.0, 180.0, 200.0, 180.0, 200.0, 178.0, 180.0, 180.0, 417.0, 564.0, 394.0, 468.0, 412.0, 100.0, 85.0, 394.0, 466.0, 409.0, 529.0, 392.0, 603.0, 518.0, 388.0, 404.0, 407.0, 393.0, 491.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 71.0, 4.2, 4.0, 6.2, 5.6, 4.0, 4.2, 4.0, 4.0, 3.8, 4.4, 5.0, 3.0, 3.0, 3.0, 9.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]

In [205]:
out = []  # Global list

def out_det(jj):
    if not pd.api.types.is_numeric_dtype(jj):
        return
    
    q1 = jj.quantile(0.25)
    q3 = jj.quantile(0.75)
    iqr = q3 - q1

    for i in jj:
        if i > q3 + 1.5 * iqr or i < q1 - 1.5 * iqr:
            out.append(i)  # Appending to the global list
            #A Pandas Series is never directly True or False in an if condition. So, we did not use heart[] in if 

for col in heart.columns:
    out_det(heart[col])

print(out)  # ❌ Contains outliers from ALL columns combined

[172.0, 178.0, 180.0, 190.0, 180.0, 180.0, 180.0, 180.0, 174.0, 192.0, 180.0, 200.0, 180.0, 200.0, 178.0, 180.0, 180.0, 417.0, 564.0, 394.0, 468.0, 412.0, 100.0, 85.0, 394.0, 466.0, 409.0, 529.0, 392.0, 603.0, 518.0, 388.0, 404.0, 407.0, 393.0, 491.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 71.0, 4.2, 4.0, 6.2, 5.6, 4.0, 4.2, 4.0, 4.0, 3.8, 4.4, 5.0, 3.0, 3.0, 3.0, 9.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]

In [237]:
# Since having a global list is not a good idea, we write it in another way:
def out_det(jj):
    if not pd.api.types.is_numeric_dtype(jj):
        return []
    
    q1 = jj.quantile(0.25)
    q3 = jj.quantile(0.75)
    iqr = q3 - q1

    # Find outliers
    outliers = jj[(jj > q3 + 1.5 * iqr) | (jj < q1 - 1.5 * iqr)]
    
    return outliers.tolist()  # ✅ Returns a fresh list each time

# Store outliers in a dictionary per column
outlier_dict = {}

for col in heart.columns:
    outliers = out_det(heart[col])
    if outliers:  # Only store if there are outliers
        outlier_dict[col] = outliers

print(outlier_dict)

{'blood pressure': [172.0, 178.0, 180.0, 190.0, 180.0, 180.0, 180.0, 180.0, 174.0, 192.0, 180.0, 200.0, 180.0, 200.0, 178.0, 180.0, 180.0], 'cholestoral ': [417.0, 564.0, 394.0, 468.0, 412.0, 100.0, 85.0, 394.0, 466.0, 409.0, 529.0, 392.0, 603.0, 518.0, 388.0, 404.0, 407.0, 393.0, 491.0], 'blood sugar': [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0], 'heart rate': [71.0], 'depression ': [4.2, 4.0, 6.2, 5.6, 4.0, 4.2, 4.0, 4.0, 3.8, 4.4, 5.0], 'ca': [3.0, 3.0, 3.0, 9.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0]}

In [269]:
# Z-score 
u = heart[((heart["cholestoral "] - heart["cholestoral "].mean())/heart["cholestoral "].std()).abs() < 3]
u["cholestoral "].dropna(axis=0).shape

(567,)

In [257]:
heart[((heart["Age (age in year)"]-heart["Age (age in year)"].mean())/heart["Age (age in year)"].std()).abs()<3]

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [284]:
l = heart["cholestoral "].mean() - 3*heart["cholestoral "].std()
u = heart["cholestoral "].mean() + 3*heart["cholestoral "].std()
ii = heart[(heart["cholestoral "] > u) | (heart["cholestoral "] < l)]

In [326]:
ii

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
85,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,0
183,53,0,2,113.0,468.0,NaN,0.0,127.0,0.0,0.0,NaN,NaN,NaN,0
421,40,1,4,120.0,466.0,NaN,0.0,152.0,1.0,1.0,2.0,NaN,6.0,1
483,32,1,4,118.0,529.0,0.0,0.0,130.0,0.0,0.0,NaN,NaN,NaN,1
491,54,1,4,130.0,603.0,1.0,0.0,125.0,1.0,1.0,2.0,NaN,NaN,1
545,53,1,3,145.0,518.0,0.0,0.0,130.0,0.0,0.0,NaN,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1

In [339]:
out1 = []
def out_zscore(jj):
    if jj.dtype not in ("int64", "float64"):
        return

    l = jj.mean() - 3*jj.std()
    u = jj.mean() + 3*jj.std()
    
    for i in jj:
        if (i > u ) | (i < l):
            out1.append(i)
    
for col in heart.columns:
    outliers = out_zscore(heart[col])

print(out1)

[190.0, 192.0, 200.0, 200.0, 564.0, 468.0, 466.0, 529.0, 603.0, 518.0, 491.0, 71.0, 4.2, 6.2, 5.6, 4.2, 4.4, 5.0, 9.0]

In [345]:
def out_z(jj):
    if not pd.api.types.is_numeric_dtype(jj):
        return []
    
    l = jj.mean() - 3*jj.std()
    u = jj.mean() + 3*jj.std()

    # Find outliers
    outliers = jj[(jj > u) | (jj < l)]
    
    return outliers.tolist()  # ✅ Returns a fresh list each time

# Store outliers in a dictionary per column
outlier_dict = {}

for col in heart.columns:
    outliers = out_z(heart[col])
    if outliers:  # Only store if there are outliers
        outlier_dict[col] = outliers

print(outlier_dict)

{'blood pressure': [190.0, 192.0, 200.0, 200.0], 'cholestoral ': [564.0, 468.0, 466.0, 529.0, 603.0, 518.0, 491.0], 'heart rate': [71.0], 'depression ': [4.2, 6.2, 5.6, 4.2, 4.4, 5.0], 'ca': [9.0]}

In [375]:
print(z_score[595])

nan

In [379]:
print(heart.loc[595, "cholestoral "])

491.0

In [399]:
from scipy import stats
import numpy as np

z_score = np.abs(stats.zscore(heart["Age (age in year)"]))
np.where(z_score > 3)

(array([], dtype=int64),)

In [403]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() 
scaler.fit_transform(heart)

array([[ 1.30337808,  0.65178294, -2.14725234, ..., -0.66165448,
         0.61708166, -0.83427977],
       [-1.56423844,  0.65178294, -0.07464175, ..., -0.66165448,
        -0.94061552, -0.83427977],
       [-1.12306667, -1.5342531 , -1.11094705, ..., -0.66165448,
        -0.94061552, -0.83427977],
       ...,
       [-1.12306667,  0.65178294,  0.96166354, ...,         nan,
                nan,  1.19863868],
       [-0.79218784,  0.65178294,  0.96166354, ...,         nan,
                nan,  1.19863868],
       [-0.24072312,  0.65178294,  0.96166354, ...,         nan,
                nan,  1.19863868]])

In [407]:
heart_scaled = pd.DataFrame(scaler.fit_transform(heart), columns = heart.columns, index = heart.index)

In [409]:
heart_scaled

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,1.303378,0.651783,-2.147252,0.731752,-0.262085,2.839285,1.599374,0.233177,-0.678811,1.390527,2.315032,-0.661654,0.617082,-0.834280
1,-1.564238,0.651783,-0.074642,-0.121052,0.022516,-0.352201,-0.703106,1.789479,-0.678811,2.515131,2.315032,-0.661654,-0.940616,-0.834280
2,-1.123067,-1.534253,-1.110947,-0.121052,-0.747581,-0.352201,1.599374,1.158546,-0.678811,0.547075,-1.181139,-0.661654,-0.940616,-0.834280
3,0.531327,0.651783,-1.110947,-0.689588,-0.211861,-0.352201,-0.703106,1.410919,-0.678811,-0.015227,-1.181139,-0.661654,-0.940616,-0.834280
4,0.641620,-1.534253,0.961664,-0.689588,1.763606,-0.352201,-0.703106,0.779986,1.473164,-0.202661,-1.181139,-0.661654,-0.940616,-0.834280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,0.090156,0.651783,0.961664,0.447484,0.290376,-0.352201,-0.703106,-0.439818,1.473164,1.109376,0.566947,NaN,NaN,1.198639
593,-0.902481,0.651783,0.961664,0.447484,0.658684,-0.352201,-0.703106,-0.397756,1.473164,1.109376,0.566947,NaN,NaN,1.198639
594,-1.123067,0.651783,0.961664,-0.689588,1.462263,-0.352201,-0.703106,-1.112814,1.473164,2.046546,0.566947,NaN,NaN,1.198639
595,-0.792188,0.651783,0.961664,0.163216,4.057157,-0.352201,-0.703106,-0.397756,-0.678811,-0.764963,NaN,NaN,NaN,1.198639
596,-0.240723,0.651783,0.961664,1.016020,-0.446239,-0.352201,-0.703106,-0.944565,-0.678811,1.109376,0.566947,NaN,NaN,1.198639